In [63]:
import pandas as pd
import datetime

In [64]:
df = pd.read_csv('data/dtm_result.csv')

In [65]:
df['post_time'].min()

'2021.05.24'

In [66]:
date_format = '%Y.%m.%d'
df['post_time'] = df['post_time'].apply(lambda x: datetime.datetime.strptime(x, date_format).date())

In [67]:
df['post_time'].max()

datetime.date(2023, 4, 19)

In [68]:
df.shape

(536, 64)

In [93]:
df

,Unnamed: 0,vacancies,post_time,p_year_month,interview_time,content,word,成就感,學習成長,創新,...,工作,離職,轉職,新鮮人,畢業,出路,能力,招募人員,正向,負向
0,0,職員,2023-03-24,2023-03,2023.03,首先會先做專業能力測驗，大約50分鐘，再來會做英文多益測驗40分鐘，做完後就進行視訊面試，1...,"['專業', '能力', '測驗', '分鐘', '英文', '多益', '測驗', '分鐘...",0,0,0,...,1,0,0,0,0,0,6,3,2,218
1,1,客服,2023-03-24,2023-03,2023.01,覺得很浪費時間，我面試大夜班，到現場要先測試聽力打字，現場很吵，然後反應也沒用，也不知道在測...,"['浪費', '時間', '面試', '大夜班', '現場', '測試', '聽力', '打...",0,0,0,...,1,0,0,0,0,0,0,1,2,241
2,2,職員,2023-03-06,2023-03,2018.01,主管是一個溫文儒雅的先生 真的感覺得出來他非常誠懇 然後問的問題沒有太多深入的題目 主要就是...,"['主管', '溫文儒雅', '先生', '感覺', '誠懇', '問題', '深入', '...",0,0,0,...,0,0,0,0,0,0,0,2,3,192
3,3,物料管理實習生,2023-03-02,2023-03,2022.05,面試是以視訊面試進行，除了HR以外還有一個物料管理部門的主管（？）之類的長官，整體面試進行的...,"['面試', '視訊', '面試', 'HR', '物料', '管理', '部門', '主管...",0,2,0,...,2,0,0,0,0,0,4,3,12,647
4,4,職員,2023-02-16,2023-02,2021.06,先遠端考英文及專業測驗，大約1個半小時，而後開始視訊面試。面談大約進行一小時，面試官有3-4...,"['遠', '端考', '英文', '專業', '測驗', '小時', '視訊', '面試'...",0,0,0,...,0,0,0,0,0,0,2,2,1,189
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
531,531,引電技師,2022-12-04,2022-12,2021.04,一開始課長會先給你一份試卷，裡面包含了汽車原理，專有名詞英翻中，繼電器原理，與實境題目，考完...,"['課長', '試卷', '包含', '汽車', '原理', '專有名詞', '英翻中', ...",0,0,0,...,2,0,0,0,0,0,0,0,6,279
532,532,教育訓練講師,2023-04-09,2023-04,2021.07,筆試時間大約兩個小時。包含英文測驗、過去在學的經歷等等，比如過去做的專題、遇到困難時要怎麼辦...,"['筆試', '時間', '小時', '包含', '英文', '測驗', '過去', '在學...",0,1,0,...,1,0,0,0,0,0,1,2,6,228
533,533,專員,2023-03-26,2023-03,2021.12,第一一關進行筆試，主要是考英文，英文建議有850以上的實力會比較好作答。第二關個案分析，給你...,"['第一一', '筆試', '英文', '英文', '建議', '850', '實力', '...",0,1,0,...,0,0,0,0,0,0,1,2,4,210
534,534,會計助理,2023-03-01,2023-03,2020.09,工作環境很好，畢竟以車業來說，公司環境也算是門面，面試有筆試完後會計主管會面談，談話過程還算...,"['工作環境', '車業', '公司', '環境', '門面', '面試', '筆試', '...",0,0,0,...,3,0,0,0,0,0,1,2,3,200
535,535,實習生,2023-01-15,2023-01,2021.03,是副廠長跟人資幫我面試的，一開始先自我介紹然後會問說以前有沒有修車的經驗等等。然後會說希望在...,"['副廠長', '人資', '面試', '自我介紹', '車', '經驗', '希望', '...",0,5,0,...,0,0,0,0,0,0,0,1,3,218

In [98]:
df_display = df[['vacancies','post_time']]
df_display

    vacancies   post_time
0          職員  2023-03-24
1          客服  2023-03-24
2          職員  2023-03-06
3     物料管理實習生  2023-03-02
4          職員  2023-02-16
..        ...         ...
531      引電技師  2022-12-04
532    教育訓練講師  2023-04-09
533        專員  2023-03-26
534      會計助理  2023-03-01
535       實習生  2023-01-15

[536 rows x 2 columns]

In [59]:
# 最小年月和最大年月
date_format = '%Y.%m.%d'
start_date = datetime.datetime.strptime('2020.05.24', date_format).date()
end_date = datetime.datetime.strptime('2023.04.29', date_format).date()

df_select = df[(df['post_time'] >= start_date) & (df['post_time'] <= end_date)]

In [102]:
date_range = pd.date_range(start="{}-{}-{}".format(start_date.year, start_date.month, start_date), end="{}-{}-{}".format(end_date.year, end_date.month+1,end_date), freq='M', inclusive="both").strftime('%Y-%m').tolist()
date_range

TypeError: _generate_range() got an unexpected keyword argument 'inclusive'

In [60]:
date_range = pd.date_range(start="{}-{}".format(start_date.year, start_date.month), end="{}-{}".format(end_date.year, end_date.month+1), freq='M').strftime('%Y-%m').tolist()
result_dict = {date: 0 for date in date_range}
all_aspect_count = pd.DataFrame(result_dict.keys(), columns=['year-month'])
all_aspect_count

   year-month
0     2020-05
1     2020-06
2     2020-07
3     2020-08
4     2020-09
5     2020-10
6     2020-11
7     2020-12
8     2021-01
9     2021-02
10    2021-03
11    2021-04
12    2021-05
13    2021-06
14    2021-07
15    2021-08
16    2021-09
17    2021-10
18    2021-11
19    2021-12
20    2022-01
21    2022-02
22    2022-03
23    2022-04
24    2022-05
25    2022-06
26    2022-07
27    2022-08
28    2022-09
29    2022-10
30    2022-11
31    2022-12
32    2023-01
33    2023-02
34    2023-03
35    2023-04

In [80]:
start_date = datetime.datetime.strptime('2020.05.24', date_format).date()
end_date = datetime.datetime.strptime('2023.04.29', date_format).date()
start_date.strftime("%Y-%m-%d")

'2020-05-24'

In [92]:
aspect_option = ['主管風格', "薪水"]
"[主題構面]："+'、'.join(aspect_option)+", [時間區間]："+start_date.strftime("%Y/%m/%d") + "~" + end_date.strftime("%Y/%m/%d")

'[主題構面]：主管風格、薪水, [時間區間]：2020/05/24~2023/04/29'

In [62]:
aspect_option = ['主管風格']
for a in aspect_option:
    # 創建字典，將每個日期設置為0
    tmp_dict = {date: 0 for date in date_range}
    grouped = pd.DataFrame(df.groupby(df['p_year_month'])[a].sum()).reset_index()
    # 將每個月構面出現次數加入 dict
    for index, row in grouped.iterrows():
        tmp_dict[row['p_year_month']] = row[a]
    # add this aspect result to all list
    all_aspect_count[a] = tmp_dict.values()
all_aspect_count

   year-month  主管風格
0     2020-05     0
1     2020-06     0
2     2020-07     0
3     2020-08     0
4     2020-09     0
5     2020-10     0
6     2020-11     0
7     2020-12     0
8     2021-01     0
9     2021-02     0
10    2021-03     0
11    2021-04     0
12    2021-05    11
13    2021-06     0
14    2021-07     0
15    2021-08     0
16    2021-09     0
17    2021-10     0
18    2021-11     0
19    2021-12     0
20    2022-01     0
21    2022-02     0
22    2022-03     0
23    2022-04     0
24    2022-05     0
25    2022-06     0
26    2022-07     0
27    2022-08     0
28    2022-09     0
29    2022-10    80
30    2022-11   146
31    2022-12   156
32    2023-01   134
33    2023-02   231
34    2023-03   253
35    2023-04    61

In [26]:
all_aspect_count.columns[:]

Index(['year-month', '成就感', '學習成長'], dtype='object')

In [27]:
df3 = pd.melt(all_aspect_count, id_vars=all_aspect_count.columns[0], value_vars=all_aspect_count.columns[1:])
df3

   year-month variable  value
0     2020-08      成就感      0
1     2020-09      成就感      0
2     2020-10      成就感      0
3     2020-11      成就感      0
4     2020-12      成就感      0
..        ...      ...    ...
61    2022-12     學習成長     28
62    2023-01     學習成長     31
63    2023-02     學習成長     54
64    2023-03     學習成長     47
65    2023-04     學習成長     15

[66 rows x 3 columns]

In [35]:
all_aspect_count.shape[0]

33

In [26]:
column_headers = all_aspect_count.columns.values.tolist()
column_headers

['成就感', '學習成長']

In [30]:
all_aspect_count["成就感"].values

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 2, 4, 2, 3, 2, 6, 2])

In [76]:

# 生成日期範圍並轉換為所需的字符串格式
date_range = pd.date_range(start=start_date, end=end_date, freq='M').strftime('%Y-%m').tolist()

# 創建字典，將每個日期設置為0
result_dict = {date: 0 for date in date_range}
result_dict

{'2020-08': 0,
 '2020-09': 0,
 '2020-10': 0,
 '2020-11': 0,
 '2020-12': 0,
 '2021-01': 0,
 '2021-02': 0,
 '2021-03': 0,
 '2021-04': 0,
 '2021-05': 0,
 '2021-06': 0,
 '2021-07': 0,
 '2021-08': 0,
 '2021-09': 0,
 '2021-10': 0,
 '2021-11': 0,
 '2021-12': 0,
 '2022-01': 0,
 '2022-02': 0,
 '2022-03': 0,
 '2022-04': 0,
 '2022-05': 0,
 '2022-06': 0,
 '2022-07': 0,
 '2022-08': 0,
 '2022-09': 0,
 '2022-10': 0,
 '2022-11': 0,
 '2022-12': 0,
 '2023-01': 0,
 '2023-02': 0,
 '2023-03': 0}

In [92]:
grouped = pd.DataFrame(df.groupby(df['p_year_month'])['薪資'].sum()).reset_index()
grouped
for index, row in grouped.iterrows():
    result_dict[row['p_year_month']] = row['薪資']
    # print(row['p_year_month']) # 输出每行的索引值
# for k,v in grouped['薪資']
result_dict

{'2020-08': 0,
 '2020-09': 0,
 '2020-10': 0,
 '2020-11': 0,
 '2020-12': 0,
 '2021-01': 0,
 '2021-02': 0,
 '2021-03': 0,
 '2021-04': 0,
 '2021-05': 4,
 '2021-06': 0,
 '2021-07': 0,
 '2021-08': 0,
 '2021-09': 0,
 '2021-10': 0,
 '2021-11': 0,
 '2021-12': 0,
 '2022-01': 0,
 '2022-02': 0,
 '2022-03': 0,
 '2022-04': 0,
 '2022-05': 0,
 '2022-06': 0,
 '2022-07': 0,
 '2022-08': 0,
 '2022-09': 0,
 '2022-10': 33,
 '2022-11': 56,
 '2022-12': 13,
 '2023-01': 37,
 '2023-02': 40,
 '2023-03': 49,
 '2023-04': 10}

In [103]:
import re
from IPython.display import HTML

def display_highlighted_words(df, keywords):
    head = """
    <table>
        <thead>
            """ + \
            "".join(["<th> %s </th>" % c for c in df.columns])\
            + """
        </thead>
    <tbody>"""

    for i,r in df.iterrows():
        row = "<tr>"
        for c in df.columns:
            matches = []
            for k in keywords:
                for match in re.finditer(k, str(r[c])):
                    matches.append(match)
        
            # reverse sorting
            matches = sorted(matches, key = lambda x: x.start(), reverse=True)
        
            # building HTML row
            cell = str(r[c])
            for match in matches:
                cell = cell[:match.start()] +\
                    "<span style='color:red;'> %s </span>" % cell[match.start():match.end()] +\
                    cell[match.end():]
            row += "<td> %s </td>" % cell
                
            row += "</tr>"
        head += row

    head += "</tbody></table>"
    display(HTML(head))

In [104]:
df = pd.DataFrame([["Franco color Franco",1], 
                   ["Franco Franco Ciccio Franco",2], 
                   ["Ciccio span",3]], columns=["A", "B"])
display_highlighted_words(df, ["Franco", "Ciccio"])
df

                             A  B
0          Franco color Franco  1
1  Franco Franco Ciccio Franco  2
2                  Ciccio span  3